<footer class="footer">
  <div class="container">
    <div class="wrapper big">
      <a href="javascript:void(0)"
         title="Delasport"
         class="logo">
        <img class="image"
             src="../public/images/logo.png"
             alt="delasport logo">
      </a>
      <p class="text">
        Proin turpis etiam aliquet orci bibendum at felis tempus. Etiam nec at sapien ut at viverra placerat adipiscing. Placerat mauris eleifend sapien sagittis tellus odio. Vivamus congue nunc a etiam blandit vehicula elementum adipiscing. Cursus at urna elementum posuere in ullamcorper interdum. Etiam volutpat non tincidunt enim amet nunc massa diam nibh. Morbi sit quisque tortor amet. Penatibus viverra fames nunc vitae maecenas interdum. Arcu hac amet ullamcorper dui, habitasse. Vel fermentum in at mauris sed in faucibus.
      </p>
    </div>
    <div class="wrapper small">
      <h3 class="title">Sports</h3>
      <ul>
        <li><a href="javascript:void(0)">Promotions</a></li>
        <li><a href="javascript:void(0)">In play</a></li>
        <li><a href="javascript:void(0)">Upcoming</a></li>
      </ul>
    </div>
    <div class="wrapper small">
      <h3 class="title">Casino</h3>
      <ul>
        <li><a href="javascript:void(0)">Live Casino</a></li>
      </ul>
    </div>
    <div class="wrapper small">
      <h3 class="title">Support</h3>
      <ul>
        <li><a href="javascript:void(0)">Lorem Ipsum Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
      </ul>
    </div>
    <div class="wrapper small">
      <h3 class="title">About</h3>
      <ul>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
        <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
      </ul>
    </div>
    <div class="wrapper social">
      <h3 class="title">Follow us</h3>
      <div class="content-wrapper">
        <a class="tab"
           href="javascript:void(0)">
          <span class="icon-twitter"></span>
        </a>
        <a class="tab"
           href="javascript:void(0)">
          <span class="icon-facebook"></span>
        </a>
        <a class="tab"
           href="javascript:void(0)">
          <span class="icon-youtube"></span>
        </a>
        <a class="tab"
           href="javascript:void(0)">
          <span class="icon-bitcoin"></span>
        </a>
        <a class="tab"
           href="javascript:void(0)">
          <span class="icon-instagram"></span>
        </a>
      </div>
    </div>
  </div>

  </div>
</footer>
