<main class="main">
      <div class="container">
            <section class="auth">
                  <div class="partners-container">
                        <div class="partner">
                              <span class="icon-puzzle"></span>
                              <a href="javascript:void(0)"
                                 class="text">
                                    Main Club
                                    Partner</a>
                        </div>
                        <div class="partner">
                              <span class="icon-puzzle"></span>
                              <span class="text">

                              </span>
                              <a href="javascript:void(0)"
                                 class="text">
                                    Official Shirt
                                    Sponsor
                              </a>
                        </div>
                  </div>
                  <div class="auth-btns-container">
                        <a class="btn btn-secondary sign-in">
                              Sign In
                        </a>
                        <a class="btn btn-primary">
                              Register
                        </a>
                  </div>
            </section>
            <section class="articles">
                  <article class="article article-1">
                        <h3>Sports</h3>
                        <p>Price Boost every day in all sports</p>
                        <a class="btn btn-article"
                           href="javascript:void(0)">
                              Go to Sports
                        </a>
                  </article>
                  <article class="article article-2"
                           href="javascript:void(0)">
                        <h3>Casino</h3>
                        <p>Offering the best slots and live dealer games</p>
                        <a class="btn btn-article"
                           href="javascript:void(0)">
                              Go to Casino
                        </a>
                  </article>
            </section>

            <section class="categories">
                  <h2>Sports categories</h2>
                  <div class="content-wrapper">
                        <div class="category category red">
                              <div class="tab">
                                    <span class="icon-info-circle "></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category brown">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category brown">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category blue">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category baige">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category orange">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category orange">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category orange">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category blue">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category blue">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category blue">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category blue">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category red">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category purple">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category purple">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category red">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category purple">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                        <div class="category category blue">
                              <div class="tab">
                                    <span class="icon-info-circle"></span>
                              </div>
                              <span class="text">Soccer</span>
                              <a href="javascript:void(0)"
                                 class="link"></a>
                        </div>
                  </div>
            </section>
            <section class="promotions">
                  <h2>Exciting promotions start here</h2>
                  <article class="article article-1">
                        <div class="left-side">
                              <a href="javascript:void(0)">
                                    <h3>
                                          NBA Fantasy
                                          Guaranteed Prize Pool
                                          & Free Bet
                                    </h3>
                                    <p>Put in your Fantasy Team and receive a free Sports Bet</p>
                              </a>
                        </div>
                        <div class="right-side"><span class="badge"></span></div>
                  </article>
                  <article class="article article-2"
                           href="javascript:void(0)">
                        <div class="left-side">
                              <a href="javascript:void(0)">
                                    <h3>Multi Master</h3>
                                    <p>mB 3000 Jackpot every weekend width mB 300 guaranteed payout!</p>
                              </a>
                        </div>
                        <div class="right-side"><span class="badge"></span></div>

                  </article>
            </section>
            <section class="providers">
                  <h2>Game Providers</h2>
                  <div class="content-wrapper">
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                        <div class="category ">
                              <span class="icon-puzzle"></span>
                        </div>
                  </div>
            </section>
      </div>
</main>
