<!DOCTYPE html>
<html lang="en">

<head>
      <meta http-equiv="Content-Type"
            content="text/html"
            charset=utf-8 />
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <title>Task Frontend</title>
      <link rel="shortcut icon"
            sizes="16x16"
            href="./public/images/favicon-16x16.png">
      <link rel="shortcut icon"
            sizes="32x32"
            href="./public/images/favicon-32x32.png">
      <link rel="shortcut icon"
            sizes="128x128"
            href="./public/images/favicon-128x128.png">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
            rel="stylesheet">
</head>

<body>
      {{> ./partials/header }}
      {{> ./main/home }}
      {{> ./partials/footer }}
</body>

</html>
